<% include header %>

<div class="container">
  <h3><%= article.title %></h3>
  <br>
  <div class="center-align">
    <img src="/uploads/<%= article.articleimage %>" height="200px" width="200px" class="center-align">
  </div>
  <h5>Written by <%= author %></h5>
  <p><%= article.body %></p>
  <hr>
  <% if(user) { %>
  <% if(user.id == article.author) { %>
  <a href='/article/edit/<%= article._id %>' class="waves-effect waves-light btn">Edit</a>
  <a href='' data-id='<%= article.id %>' class="waves-effect waves-light btn delete-article">Delete</a>
  <% } } %>
</div>

<% include footer %>