<% include header %>
<div class="container">
    <h3><%= title %></h3>
    <br>
    <form action="/articles/edit/<%= article._id %>" method="post">
      <div class="row">
        <div class="input-field col s12 ">
          <input value='<%= article.title %>' id="title" type="text" class="validate" name="title">
          <label for="title">Title</label>
        </div>
      </div>
      
            <input value='<%= article.author %>' id="author" type="hidden" class="validate" name="author">
            
       
      <div class="row">
        <div class="input-field col s12">
          <textarea id="body" class="materialize-textarea" name="body"><%= article.body %></textarea>
          <label for="body">Body</label>
        </div>
      </div>
      <div class="row">
        <input class="waves-effect waves-light btn" type="submit">
      </div>
    </form>
  </div>
<% include footer %>