<% include header %>
<div class="container">
    <h4><%= title %></h4>
    
    <br>
    <form action="/user/profile/edit/<%= user._id %>" method="post" enctype="multipart/form-data">
      <div class="row">
       <img src="/uploads/<%= user.userimage %>" alt="user-image" height="100" width="100">
      </div>
      <div class="row">
        <div class="input-field col s12 ">
          <input id="name" type="text" class="validate" name="name" required value='<%= user.name %>'>
          <label for="name">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 ">
            <input id="email" type="text" class="validate" name="email" required value='<%= user.email %>'>
            <label for="email">Email</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12 ">
            <input id="username" type="text" class="validate" name="username" required value='<%= user.username %>'>
            <label for="username">Username</label>
        </div>
      </div>
      
      <input name:"id" type="hidden" value="<%= user._id %>" >
      <div class="row">
        <input class="waves-effect waves-light btn white-text light-blue darken-2" type="submit" value="Update">
      </div>
      
    </form>
  </div>
<% include footer %>